.cls1-1 {
    fill: url(#linear-gradient1);
}

.cls1-2 {
    fill: #c0b6f2;
}

.cls1-3 {
    fill: url(#linear-gradient1-2);
}

.cls1-4 {
    fill: url(#linear-gradient1-3);
}

.cls1-5 {
    fill: #ffe380;
}

.cls1-6 {
    fill: #998dd9;
}

.cls1-7 {
    fill: url(#linear-gradient1-4);
}

.cls1-8 {
    fill: #eae6ff;
}

.cls1-10,
.cls1-100,
.cls1-101,
.cls1-102,
.cls1-103,
.cls1-104,
.cls1-105,
.cls1-106,
.cls1-12,
.cls1-13,
.cls1-14,
.cls1-15,
.cls1-16,
.cls1-17,
.cls1-18,
.cls1-19,
.cls1-20,
.cls1-21,
.cls1-22,
.cls1-23,
.cls1-24,
.cls1-25,
.cls1-26,
.cls1-27,
.cls1-28,
.cls1-30,
.cls1-31,
.cls1-32,
.cls1-33,
.cls1-34,
.cls1-35,
.cls1-36,
.cls1-37,
.cls1-38,
.cls1-39,
.cls1-40,
.cls1-41,
.cls1-42,
.cls1-43,
.cls1-44,
.cls1-45,
.cls1-46,
.cls1-47,
.cls1-48,
.cls1-49,
.cls1-50,
.cls1-51,
.cls1-52,
.cls1-53,
.cls1-54,
.cls1-55,
.cls1-56,
.cls1-57,
.cls1-58,
.cls1-59,
.cls1-60,
.cls1-61,
.cls1-62,
.cls1-63,
.cls1-64,
.cls1-65,
.cls1-66,
.cls1-67,
.cls1-68,
.cls1-69,
.cls1-70,
.cls1-71,
.cls1-72,
.cls1-73,
.cls1-74,
.cls1-75,
.cls1-76,
.cls1-77,
.cls1-78,
.cls1-79,
.cls1-8,
.cls1-80,
.cls1-81,
.cls1-82,
.cls1-83,
.cls1-84,
.cls1-85,
.cls1-86,
.cls1-87,
.cls1-88,
.cls1-89,
.cls1-9,
.cls1-90,
.cls1-91,
.cls1-92,
.cls1-93,
.cls1-94,
.cls1-95,
.cls1-96,
.cls1-97,
.cls1-98,
.cls1-99 {
    fill-rule: evenodd;
}

.cls1-48,
.cls1-9 {
    fill: #fff;
}

.cls1-10 {
    fill: url(#linear-gradient1-5);
}

.cls1-11 {
    fill: #b2d4ff;
}

.cls1-12 {
    fill: url(#linear-gradient1-6);
}

.cls1-13 {
    fill: url(#linear-gradient1-7);
}

.cls1-14 {
    fill: url(#linear-gradient1-8);
}

.cls1-15 {
    fill: url(#linear-gradient1-9);
}

.cls1-16 {
    fill: url(#linear-gradient1-10);
}

.cls1-17 {
    fill: url(#linear-gradient1-11);
}

.cls1-18 {
    fill: #ffe2c9;
}

.cls1-19 {
    fill: #bbcbff;
}

.cls1-20 {
    fill: url(#linear-gradient1-12);
}

.cls1-21 {
    fill: url(#linear-gradient1-13);
}

.cls1-22 {
    fill: url(#linear-gradient1-14);
}

.cls1-23 {
    fill: url(#linear-gradient1-15);
}

.cls1-24 {
    fill: url(#linear-gradient1-16);
}

.cls1-25 {
    fill: url(#linear-gradient1-17);
}

.cls1-26 {
    fill: url(#linear-gradient1-18);
}

.cls1-27 {
    fill: url(#linear-gradient1-19);
}

.cls1-28 {
    fill: url(#linear-gradient1-20);
}

.cls1-29 {
    opacity: 0.5;
}

.cls1-30 {
    fill: url(#linear-gradient1-21);
}

.cls1-31,
.cls1-81 {
    fill: #017fc9;
}

.cls1-31 {
    fill-opacity: 0.5;
}

.cls1-32 {
    fill: #32ccff;
}

.cls1-33 {
    fill: url(#linear-gradient1-22);
}

.cls1-34 {
    fill: #c4d4e0;
}

.cls1-35 {
    fill: #c3d4e0;
}

.cls1-36 {
    fill: url(#linear-gradient1-23);
}

.cls1-37 {
    fill: url(#linear-gradient1-24);
}

.cls1-38 {
    fill: url(#linear-gradient1-25);
}

.cls1-39 {
    fill: url(#linear-gradient1-26);
}

.cls1-40 {
    fill: #839fb6;
}

.cls1-41 {
    fill: #f16780;
}

.cls1-42 {
    fill: url(#linear-gradient1-27);
}

.cls1-43 {
    fill: url(#linear-gradient1-28);
}

.cls1-44 {
    fill: url(#linear-gradient1-29);
}

.cls1-45 {
    fill: url(#linear-gradient1-30);
}

.cls1-46 {
    fill: #293147;
}

.cls1-47 {
    fill: url(#linear-gradient1-31);
}

.cls1-48,
.cls1-81 {
    fill-opacity: 0.3;
}

.cls1-49 {
    fill: #79e2f2;
}

.cls1-51 {
    fill: url(#linear-gradient1-32);
}

.cls1-52 {
    fill: url(#linear-gradient1-33);
}

.cls1-53 {
    fill: url(#linear-gradient1-34);
}

.cls1-54 {
    fill: url(#linear-gradient1-35);
}

.cls1-55 {
    fill: url(#linear-gradient1-36);
}

.cls1-56 {
    fill: url(#linear-gradient1-37);
}

.cls1-57 {
    fill: url(#linear-gradient1-38);
}

.cls1-58 {
    fill: url(#linear-gradient1-39);
}

.cls1-59 {
    fill: url(#linear-gradient1-40);
}

.cls1-60 {
    fill: url(#linear-gradient1-41);
}

.cls1-61 {
    fill: #292c36;
}

.cls1-62 {
    fill: #949da4;
}

.cls1-63 {
    fill: #c0c6cb;
}

.cls1-64 {
    fill: url(#linear-gradient1-42);
}

.cls1-65 {
    fill: url(#linear-gradient1-43);
}

.cls1-66 {
    fill: url(#linear-gradient1-44);
}

.cls1-67 {
    fill: url(#linear-gradient1-45);
}

.cls1-68 {
    fill: url(#linear-gradient1-46);
}

.cls1-69 {
    fill: url(#linear-gradient1-47);
}

.cls1-70 {
    fill: url(#linear-gradient1-48);
}

.cls1-71 {
    fill: url(#linear-gradient1-49);
}

.cls1-72 {
    fill: url(#linear-gradient1-50);
}

.cls1-73 {
    fill: url(#linear-gradient1-51);
}

.cls1-74 {
    fill: url(#linear-gradient1-52);
}

.cls1-75 {
    fill: url(#linear-gradient1-53);
}

.cls1-76 {
    fill: url(#linear-gradient1-54);
}

.cls1-77 {
    fill: url(#linear-gradient1-55);
}

.cls1-78 {
    fill: url(#linear-gradient1-56);
}

.cls1-79 {
    fill: url(#linear-gradient1-57);
}

.cls1-80 {
    fill: url(#linear-gradient1-58);
}

.cls1-82 {
    fill: #212f4c;
}

.cls1-83 {
    fill: url(#linear-gradient1-59);
}

.cls1-84 {
    fill: url(#linear-gradient1-60);
}

.cls1-85 {
    fill: url(#linear-gradient1-61);
}

.cls1-86 {
    fill: url(#linear-gradient1-62);
}

.cls1-87 {
    fill: url(#linear-gradient1-63);
}

.cls1-88 {
    fill: url(#linear-gradient1-64);
}

.cls1-89 {
    fill: url(#linear-gradient1-65);
}

.cls1-90 {
    fill: url(#linear-gradient1-66);
}

.cls1-91 {
    fill: url(#linear-gradient1-67);
}

.cls1-92 {
    fill: url(#linear-gradient1-68);
}

.cls1-93 {
    fill: url(#linear-gradient1-69);
}

.cls1-94 {
    fill: url(#linear-gradient1-70);
}

.cls1-95 {
    fill: url(#linear-gradient1-71);
}

.cls1-96 {
    fill: url(#linear-gradient1-72);
}

.cls1-97 {
    fill: url(#linear-gradient1-73);
}

.cls1-98 {
    fill: url(#linear-gradient1-74);
}

.cls1-99 {
    fill: url(#linear-gradient1-75);
}

.cls1-100 {
    fill: url(#linear-gradient1-76);
}

.cls1-101 {
    fill: url(#linear-gradient1-77);
}

.cls1-102 {
    fill: url(#linear-gradient1-78);
}

.cls1-103 {
    fill: url(#linear-gradient1-79);
}

.cls1-104 {
    fill: url(#linear-gradient1-80);
}

.cls1-105 {
    fill: url(#linear-gradient1-81);
}

.cls1-106 {
    fill: url(#linear-gradient1-82);
}
