.cls2-1,
.cls2-35,
.cls2-58,
.cls2-77,
.cls2-78 {
    fill: none;
}

.cls2-2 {
    fill: #b2d4ff;
}

.cls2-3 {
    fill: #f17b6b;
}

.cls2-4 {
    opacity: 0.5;
}

.cls2-5 {
    fill: #eae6ff;
}

.cls2-6 {
    fill: #fff;
}

.cls2-7 {
    fill: #dfe1e5;
}

.cls2-8 {
    fill: #c0b6f2;
}

.cls2-9 {
    fill: #eff7ff;
}

.cls2-10 {
    fill: #9cb4db;
}

.cls2-11 {
    fill: #31cbff;
}

.cls2-12 {
    fill: url(#linear-gradient2);
}

.cls2-13 {
    fill: #4b4c4c;
    opacity: 0.29;
}

.cls2-14 {
    fill: url(#linear-gradient2-2);
}

.cls2-15 {
    fill: url(#linear-gradient2-3);
}

.cls2-16 {
    fill: url(#linear-gradient2-4);
}

.cls2-17 {
    fill: url(#linear-gradient2-5);
}

.cls2-18 {
    fill: url(#linear-gradient2-6);
}

.cls2-19 {
    fill: url(#linear-gradient2-7);
}

.cls2-20 {
    fill: url(#linear-gradient2-8);
}

.cls2-21 {
    fill: url(#linear-gradient2-9);
}

.cls2-22 {
    fill: url(#linear-gradient2-10);
}

.cls2-23 {
    fill: url(#linear-gradient2-11);
}

.cls2-24 {
    fill: url(#linear-gradient2-12);
}

.cls2-25 {
    fill: url(#linear-gradient2-13);
}

.cls2-26 {
    fill: url(#linear-gradient2-14);
}

.cls2-27 {
    fill: #bbcbff;
}

.cls2-27,
.cls2-28,
.cls2-29 {
    fill-rule: evenodd;
}

.cls2-28 {
    fill: #c7d4ff;
    fill-opacity: 0.3;
}

.cls2-29 {
    fill: url(#linear-gradient2-15);
}

.cls2-30 {
    fill: url(#linear-gradient2-16);
}

.cls2-31 {
    fill: #cd6161;
}

.cls2-32 {
    fill: url(#linear-gradient2-17);
}

.cls2-33 {
    fill: url(#linear-gradient2-18);
}

.cls2-34 {
    fill: #fcc;
}

.cls2-35 {
    stroke: #2b2e40;
    stroke-width: 2.69px;
}

.cls2-35,
.cls2-58,
.cls2-77,
.cls2-78 {
    stroke-linecap: round;
    stroke-linejoin: round;
}

.cls2-36 {
    fill: #344563;
}

.cls2-37 {
    fill: #00e7ff;
}

.cls2-38 {
    fill: #e68181;
}

.cls2-39 {
    fill: #303048;
}

.cls2-40 {
    fill: #2b2e40;
}

.cls2-41 {
    fill: #505f79;
}

.cls2-42 {
    fill: url(#linear-gradient2-19);
}

.cls2-43 {
    fill: url(#linear-gradient2-20);
}

.cls2-44 {
    fill: #303047;
}

.cls2-45 {
    clip-path: url(#clip-path);
}

.cls2-46 {
    fill: #0cf;
}

.cls2-47 {
    fill: #67ffcc;
}

.cls2-48 {
    clip-path: url(#clip-path-2);
}

.cls2-49 {
    clip-path: url(#clip-path-3);
}

.cls2-50 {
    fill: url(#linear-gradient2-21);
}

.cls2-51 {
    fill: #88acff;
}

.cls2-52 {
    clip-path: url(#clip-path-4);
}

.cls2-53 {
    fill: #f2edf2;
}

.cls2-54 {
    fill: url(#linear-gradient2-22);
}

.cls2-55 {
    fill: url(#linear-gradient2-23);
}

.cls2-56 {
    fill: url(#linear-gradient2-24);
}

.cls2-57 {
    opacity: 0.49;
}

.cls2-58 {
    stroke: #303048;
    stroke-width: 2.17px;
}

.cls2-59 {
    fill: #f66;
}

.cls2-60 {
    fill: #f96;
}

.cls2-61 {
    fill: #e86456;
}

.cls2-62 {
    clip-path: url(#clip-path-5);
}

.cls2-63 {
    fill: #1f2231;
}

.cls2-64 {
    fill: #454d6a;
}

.cls2-65 {
    clip-path: url(#clip-path-6);
}

.cls2-66 {
    fill: #25293a;
}

.cls2-67 {
    clip-path: url(#clip-path-7);
}

.cls2-68 {
    fill: url(#linear-gradient2-25);
}

.cls2-69 {
    clip-path: url(#clip-path-8);
}

.cls2-70 {
    fill: #232048;
}

.cls2-71 {
    fill: #232638;
}

.cls2-72 {
    fill: #21304a;
}

.cls2-73 {
    fill: url(#linear-gradient2-26);
}

.cls2-74 {
    clip-path: url(#clip-path-9);
}

.cls2-75 {
    clip-path: url(#clip-path-10);
}

.cls2-76 {
    fill: #998dd9;
}

.cls2-77 {
    stroke: #998dd9;
}

.cls2-77,
.cls2-78 {
    stroke-width: 9.4px;
}

.cls2-78 {
    stroke: #c0b6f2;
}
